@charset "utf-8";
/* CSS Document */

@import "bourbon";
@import "neat";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

body{
  //@include background(linear-gradient(#aaa, #fff), center no-repeat scroll);
  @include background(#efefef);
  @include padding(0px 0px 0px 0px);
  @include margin(-20px 0px 0px 0px);
  font-family : $font-family-base;
  color       : #555;
}

#content{
  @include outer-container;
  @include background(#fff);
  @include padding(10px 10px 10px 10px);

  #intro{
    margin                : auto -10px;
    background-image      : url(../img/pics/citra.jpg);
    background-attachment : fixed;
    background-position   : center top;
    background-repeat     : no-repeat;

    @media (max-width: 1088px) {
      background-size       : 100%;
      min-height            : 200px;
    }

    @media (min-width: 1088px){
      background-size       : 1088px;
      height                : 440px;
    }

    span{
      @include background-image(url(../img/logos/logo.png));

      float               : right;
      width               : 150px;
      height              : 200px;
      position            : relative;
      margin-top          : 230px;
      margin-right        : 10px;

      border              : solid 10px #000;

      background-position : center, center;
      background-repeat   : no-repeat;
      background-size     : 100%;
      background-color    : #000;
    }
  }
}
