#about.section-odd
  h3 Sobre a Banda Rock a Lenha
  p
    | Inicialmente formada em 2010, a banda Rock a Lenha surgiu com a proposta de apresentar versões de clássicos consagrados do Rock dentro de uma roupagem acústica, mantendo o “feeling” e as características das canções originais.
  p
    | Graças ao dinamismo dos integrantes, a banda se adapta à qualquer tipo de ambiente, desde locais menores, utilizando percussão, até grandes palcos fazendo uso de instrumentos amplificados e bateria.
  h3 Sobre o Repertório
  p
    | O repertório, especialmente construído para a proposta acústica, inclui desde clássicos do Rock tradicional (Elvis Presley, Johnny Cash, Lynyrd Skynyrd, The Beatles etc.), passando pelos anos 70, 80 e 90 (Deep Purple, AC/DC, Black Sabbath, Ozzy Osbourne, Iron Maiden, Guns n’ Roses, Bon Jovi, KISS etc.) até o Rock contemporâneo (Foo Fighters, Alanis Morrissette, Evanescence etc.).
  p
    | Esta grande variedade de estilos e épocas possibilita montar cada apresentação pensando no perfil do evento ou local, dentro das características do projeto.
  p
    a(href='https://www.facebook.com/thepatchartebar/videos/627395847338202/')
      | Confira aqui a entrevista da banda Rock a Lenha apresentando algumas curiosidades sobre a sua história
    | .
  h3 Sobre a Formação
  ul#formacao
    li
      | Vocais: 
      strong Thalita Bonicontro
    li
      | Violão: 
      strong Rodrigo Maia
      |  e 
      strong Bruno Giacomet
    // <li>Baixo: <strong>João Avelino</strong></li>
    li
      | Percussão, Bateria e Produção: 
      strong Tiago Ferreira
