a.anchor(name="contact")
#contact.section-even
  h3 Contatos
  ul
    li
      a(href='skype:rodrigovdb?chat', onclick="Skype.tryAnalyzeSkypeUri('chat', '0');" title="Converse no Skype")
        i.contact-icons.fa.fa-skype
    li
      a(href='https://www.facebook.com/RockaLenha', target='_BLANK' title="Siga-nos no Facebook")
        i.contact-icons.fa.fa-facebook
    li
      a(href='https://soundcloud.com/rockalenha', target='_BLANK' title="Ouça-nos no SoundCloud")
        i.contact-icons.fa.fa-soundcloud
    li
      a(href='https://www.youtube.com/channel/UCeRfrQ33igiZ16efTNMuSMQ', target='_BLANK' title="Assista-nos no Youtube")
        i.contact-icons.fa.fa-youtube
    li
      a(href='mailto:contato@rockalenha.com.br?Subject=Contato%20Via%20Site' title="Envie um e-mail")
        i.contact-icons.fa.fa-envelope
