#start_simple
  #start_logo
    img(src="img/logos/logo.png")
  #start_contact
    a(href='mailto:contato@rockalenha.com.br?Subject=Contato%20Via%20Site' title="Envie um e-mail")
      i.contact-icons.fa.fa-envelope
      | &nbsp;
      span Contato
