#second
  h3.section_title Assista
  .table
    .table_row
      .table_cell
        iframe(width='450', height='260', src='https://www.youtube.com/embed/rLRMs40Eiy4', frameborder='0', allowfullscreen='')
      .table_cell
        iframe(width='450', height='260', src='https://www.youtube.com/embed/rzMEEWWeGHY', frameborder='0', allowfullscreen='')
