#watch.section-odd
  h3 Assista

  iframe.left_iframe(width='450', height='260', src='https://www.youtube.com/embed/rLRMs40Eiy4', frameborder='0', allowfullscreen='')
  iframe.right_iframe(width='450', height='260', src='https://www.youtube.com/embed/rzMEEWWeGHY', frameborder='0', allowfullscreen='')
