extends layouts/main.jade

block content
  include includes/_menu.jade
  include includes/_contact.jade
  include includes/_watch.jade
  include includes/_listen.jade
  include includes/_about.jade
  include includes/_footer.jade
