extends layouts/main.jade

block content
  //div#header.section(data-stellar-background-ratio='0.5')
  div#header.section
    | Header image
  div#contact.section
    | Contatos
  div#watch.section
    | Assista
