extends layouts/main.jade

block content
  //div#header.section(data-stellar-background-ratio='0.5')
  div#intro.section
    include includes/_intro.jade

  div#contact.section
    include includes/_contact.jade

  div#watch.section
    include includes/_watch.jade

  div#listen.section
    include includes/_listen.jade

  div#about.section
    include includes/_about.jade
